body {
    background-color: #F1F0E9;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #41644A;
    color: #E9762B;
    
}

header h1 {
    color: #E9762B;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px auto;
}

header p {
    font-size: 14px;
    margin-bottom: 30px;
}

nav {
background-color: #0D4715;
margin: 0;
padding: 5px;
}

nav li, a {
    color: #E9762B;
    display: inline;
    margin: 10px;
}

article {
display:inline-block;
margin: 10px 5px;
border: dotted black 1px;
border-radius: 20px;
box-sizing:border-box;
width: 22%;
vertical-align: top;
height: 100%;
padding: 5px;
background-color:#e2a073;
}

article img {
    border-radius: 20px;
    max-width: 100%;
    
}

main a {
    margin: 0;
    color: black;
}

.banner {
    width: 100%;
}

.form-container {
    border: dotted black 1px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    text-align: left;
    padding: 20px 40px;
    
    
}

.reviews {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}